<div>
  <h1 class="text-2xl">
    @if (product.id) {
    <span class="font-bold">{{ product.name }}</span> isimli ürünü
    düzenliyorsunuz } @else {
    <span class="font-bold"> Ürün Ekle </span>
    }
  </h1>
  <form class="my-5 flex flex-col gap-5" [formGroup]="form">
    <div class="flex flex-col">
      <label for="name"> Ürün Adı </label>
      <input
        formControlName="name"
        id="name"
        type="text"
        class="form-input rounded-md"
      />
      @if (globalService.getError(form,'name', 'required')) {
      <span class="text-red-600 my-1 text-xs">Ürün Adı Zorunludur</span>
      } @if (globalService.getError(form,'name', 'minlength')) {
      <span class="text-red-600 my-1 text-xs">
        Ürün Adı en az 3 karakter olmalıdır
      </span>
      }
    </div>
    <div class="flex flex-col">
      <label for="description"> Ürün Açıklaması </label>
      <textarea
        formControlName="description"
        id="description"
        type="text"
        class="form-input rounded-md"
      ></textarea>
    </div>
    <div class="flex flex-col">
      <label for="price"> Ürün Fiyatı </label>
      <input
        formControlName="price"
        id="price"
        type="number"
        class="form-input rounded-md"
      />
      @if (globalService.getError(form,'price', 'min')) {
      <span class="text-red-600 my-1 text-xs"
        >Ürün Fiyatı sıfırın altında olamaz</span
      >
      } @if (globalService.getError(form,'price', 'required')) {
      <span class="text-red-600 my-1 text-xs">Ürün Fiyatı Zorunludur</span>
      }
    </div>
    <div>
      <label class="inline-flex items-center mb-5 cursor-pointer">
        <input
          formControlName="isActive"
          type="checkbox"
          value=""
          class="sr-only peer"
        />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-500"
          >Aktif Mi</span
        >
      </label>
    </div>
    <div>
      <button
        (click)="send()"
        class="w-full px-2 py-1 bg-blue-700 rounded-md text-white disabled:bg-gray-400 disabled:pointer-events-none"
      >
        Kaydet
      </button>
    </div>
  </form>

  {{ form.valid }}
  {{ form.value | json }}
</div>
